body {
    background-color: rgb(36, 114, 46);
    color: white;
    font-family: "Arial";
  }
  
  h1 {
    font-size: 40px;
    margin: auto;
  }
  
  .titre {
    font-size: 40px;
  }
  
  ul {
    padding-left: 30px;
    font-size: 25px;
  }
  
  a {
    text-decoration: none;
    color: #f7f7f8;
  }

  h3 
    {
      font-family: "Helvetica Neue", Arial, sans-serif;
      font-size: 30px;
      font-weight: bold;
      color: #333;
      text-align: left;
      margin-top: 50px;
      margin-bottom: 30px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }